<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= " Message from controller HEADER1 : #{@controller_message_header_first}" %></br>
<%= " Message from controller HEADER2 : #{@controller_message_header_second}" %><br/>
<%= " Message from controller HEADER3 : #{@controller_message_header_third}" %></br>